@import './add_test';
@import './my_tests';
@import './test_card';
@import './question';
@import './add_question';
@import './logout';
@import './testlar';
@import './home_user';
@import './show_test';
@import './finish_test';
@import './profile';
@import './statistik';


.guruhlar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    @media (max-width: 768px) {
        padding: 15px;
    }

    @import './guruhlar';
}

.aloqa_cont {
    @import './aloqa';
}